In [22]:
import os
from sklearn import datasets
import numpy as np
import pandas as pd 

df = pd.read_csv('C:/Users/moret/Downloads/_documents/GitHub/projetPython/ProjectApp/datasets/auto-mpg.csv')

In [23]:
df

      mpg  cyl  displ   hp  ...  accel  yr  origin                       name
0    18.0    8  307.0  130  ...   12.0  70       1  chevrolet chevelle malibu
1    15.0    8  350.0  165  ...   11.5  70       1          buick skylark 320
2    18.0    8  318.0  150  ...   11.0  70       1         plymouth satellite
3    16.0    8  304.0  150  ...   12.0  70       1              amc rebel sst
4    17.0    8  302.0  140  ...   10.5  70       1                ford torino
..    ...  ...    ...  ...  ...    ...  ..     ...                        ...
387  27.0    4  140.0   86  ...   15.6  82       1            ford mustang gl
388  44.0    4   97.0   52  ...   24.6  82       2                  vw pickup
389  32.0    4  135.0   84  ...   11.6  82       1              dodge rampage
390  28.0    4  120.0   79  ...   18.6  82       1                ford ranger
391  31.0    4  119.0   82  ...   19.4  82       1                 chevy s-10

[392 rows x 9 columns]

In [19]:
df.describe()

              mpg         cyl       displ  ...       accel          yr      origin
count  392.000000  392.000000  392.000000  ...  392.000000  392.000000  392.000000
mean    23.445918    5.471939  194.411990  ...   15.541327   75.979592    1.576531
std      7.805007    1.705783  104.644004  ...    2.758864    3.683737    0.805518
min      9.000000    3.000000   68.000000  ...    8.000000   70.000000    1.000000
25%     17.000000    4.000000  105.000000  ...   13.775000   73.000000    1.000000
50%     22.750000    4.000000  151.000000  ...   15.500000   76.000000    1.000000
75%     29.000000    8.000000  275.750000  ...   17.025000   79.000000    2.000000
max     46.600000    8.000000  455.000000  ...   24.800000   82.000000    3.000000

[8 rows x 8 columns]

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     392 non-null    float64
 1   cyl     392 non-null    int64
 2   displ   392 non-null    float64
 3   hp      392 non-null    int64
 4   weight  392 non-null    int64
 5   accel   392 non-null    float64
 6   yr      392 non-null    int64
 7   origin  392 non-null    int64
 8   name    392 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 27.7+ KB

(392, 9)